.titulo {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

position: absolute;
width: 368px;
height: 58px;


display: flex;
align-items: center;
text-align: center;

color: #344E41;
}

.mainModel {
background: #DAD7CD;
border-radius: 20px;
}

.my-modal {
    max-width: 40%;   /* Occupy the 40% of the screen width */

} 

.titulos_formulario {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 58px;
color: #424e34;
}

select {
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

.form {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
